.sc5-contact .container h1, .sc4-plans .container .sc4-cards .sc4-elem h2, .sc4-plans h1, .sc3-download .sc3-texts h1, .sc2-how .cards .elem h2, .sc2-how h1, .sc1-hero .sc1-texts h1 {
  color: var(--second-color);
  font-family: "Sora", sans-serif;
}

footer p, .sc5-contact .container form .input-single label, .sc5-contact .container p, .sc4-plans p, .sc3-download .sc3-texts p, .sc2-how .cards .elem p {
  color: var(--gray-color);
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.sc5-contact .container form .form-btn, .sc4-plans .container .sc4-cards .prata-elem .prata-btn, .sc4-plans .container .sc4-cards .sc4-elem .card-btn, .sc1-hero .sc1-texts a {
  background-color: #0F9AFE;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
  text-decoration: none;
  box-shadow: rgba(15, 154, 254, 0.3607843137) 0px 3px 8px;
  transition: 0.5s;
}
.sc5-contact .container form .form-btn:hover, .sc4-plans .container .sc4-cards .prata-elem .prata-btn:hover, .sc4-plans .container .sc4-cards .sc4-elem .card-btn:hover, .sc1-hero .sc1-texts a:hover {
  box-shadow: #0f9afe 0px 5px 15px;
}

:root {
  --primary-color: #0F9AFE;
  --light-color: #FFFFFF;
  --second-light-color: #EFF8FF;
  --gray-color: #6E7275;
  --second-color: #293145;
}

.dark-mode:root {
  --light-color: #293145;
  --second-light-color: #2C364F;
  --second-color: #FFFFFF;
  --gray-color: #FFFFFF;
}
.dark-mode:root .img-header {
  background-image: url("../assets/logo-dark.png");
}
.dark-mode:root .sc1-image {
  background-image: url("../assets/hero-dark.png");
}
.dark-mode:root .sc3-image {
  background-image: url("../assets/hero2-dark.png");
}
.dark-mode:root .sc3-texts a .appstore-link {
  background-image: url("../assets/appstore-dark.png");
}
.dark-mode:root .sc3-texts a .playstore-link {
  background-image: url("../assets/playstore-dark.png");
}
.dark-mode:root .prata-elem {
  border: 5px solid var(--second-light-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
@media (max-width: 1500px) {
  .container {
    width: 85%;
  }
}

body {
  background-color: var(--light-color);
}

header {
  height: 70px;
  display: flex;
  justify-content: center;
}
header .ld {
  display: flex;
  align-items: center;
}
header .ld input {
  display: none;
}
header .ld input:checked ~ label .fa-sun {
  opacity: 0;
  transform: translateX(0);
}
header .ld input:checked ~ label .fa-moon {
  opacity: 1;
  transform: translateX(-1.5rem);
}
header .ld label {
  position: absolute;
  right: 3%;
  border: 2px solid gray;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}
@media (max-width: 1100px) {
  header .ld label {
    right: 15%;
    margin-right: 15px;
  }
}
header .ld label .fa-sun {
  color: orange;
  font-size: 1rem;
  text-shadow: 0 0 20px orange;
  transform: translateX(1.5rem);
  transition: 0.3s;
}
header .ld label .fa-moon {
  color: white;
  font-size: 1em;
  text-shadow: 0 0 20px white;
  transform: translateX(0rem);
  transition: 0.3s;
  opacity: 0;
}
header .img-header {
  width: 100px;
  height: 30px;
  background-image: url(../assets/logo.png);
}
header .mobilenav-icon {
  font-size: 1.7rem;
  color: var(--second-color);
  cursor: pointer;
  display: none;
}
@media (max-width: 1100px) {
  header .mobilenav-icon {
    display: block;
  }
}
@media (max-width: 1100px) {
  header nav {
    display: none;
  }
}
header nav ul {
  list-style: none;
  display: flex;
}
@media (max-width: 1500px) {
  header nav ul {
    margin-right: 80px;
  }
}
header nav ul li {
  margin: 0 33px;
}
header nav ul a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--gray-color);
  transition: 0.5s;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
header nav ul a:hover {
  color: var(--primary-color);
}

.mobilenav {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 20px 28px;
  transition: 0.5s;
}
.mobilenav ul {
  list-style: none;
  margin-top: 100px;
  margin-left: 0px;
  width: 100%;
}
.mobilenav ul li {
  margin: 60px 0;
}
.mobilenav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Saro", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}
.mobilenav ul li i {
  font-size: 1.7rem;
  color: white;
  margin-right: 15px;
}
.mobilenav ul li .app-icon {
  margin-left: 5px;
}
.mobilenav .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.sc1-hero {
  display: flex;
  justify-content: center;
  background-color: var(--second-light-color);
  height: 75vh;
}
@media (max-width: 1100px) {
  .sc1-hero {
    height: 60vh;
  }
}
@media (max-width: 1100px) {
  .sc1-hero .container {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 1100px) {
  .sc1-hero .sc1-texts {
    width: 100%;
    text-align: left;
    margin-top: 50px;
  }
}
.sc1-hero .sc1-texts h1 {
  font-size: 3rem;
  margin-bottom: 50px;
}
@media (max-width: 1500px) {
  .sc1-hero .sc1-texts h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1100px) {
  .sc1-hero .sc1-texts h1 {
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
}
.sc1-hero .sc1-texts a {
  padding: 16px 36px;
}
@media (max-width: 1100px) {
  .sc1-hero .sc1-texts a {
    padding: 10px 36px;
  }
}
.sc1-hero .sc1-image {
  width: 500px;
  height: 500px;
  background-image: url("../assets/hero.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 1250px) {
  .sc1-hero .sc1-image {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1100px) {
  .sc1-hero .sc1-image {
    width: 290px;
    height: 210px;
  }
}

.sc2-how {
  display: flex;
  justify-content: center;
}
.sc2-how .container {
  flex-direction: column;
  align-items: center;
}
.sc2-how h1 {
  margin-top: 56px;
  font-size: 2.3rem;
}
@media (max-width: 1100px) {
  .sc2-how h1 {
    font-size: 2rem;
  }
}
.sc2-how .cards {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 4rem 0;
  width: 95%;
}
@media (max-width: 1100px) {
  .sc2-how .cards {
    flex-direction: column;
    align-items: center;
  }
}
.sc2-how .cards .elem {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
@media (max-width: 1100px) {
  .sc2-how .cards .elem {
    width: 100%;
    margin-bottom: 32px;
  }
}
.sc2-how .cards .elem img {
  margin-bottom: 30px;
}
.sc2-how .cards .elem h2 {
  font-size: 1.2rem;
  margin-bottom: 16px;
}
.sc2-how .cards .elem p {
  text-align: center;
}

.sc3-download {
  background-color: var(--second-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
}
@media (max-width: 1100px) {
  .sc3-download {
    padding: 4rem 0;
  }
}
@media (max-width: 1100px) {
  .sc3-download .container {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .sc3-download .sc3-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.sc3-download .sc3-texts h1 {
  font-size: 2rem;
  margin-bottom: 24px;
}
@media (max-width: 1250px) {
  .sc3-download .sc3-texts h1 {
    font-size: 1.7rem;
  }
}
.sc3-download .sc3-texts p {
  width: 50%;
  margin-bottom: 32px;
}
@media (max-width: 1100px) {
  .sc3-download .sc3-texts p {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .sc3-download .sc3-texts p {
    width: 90%;
  }
}
@media (max-width: 1100px) {
  .sc3-download .sc3-texts p {
    font-size: 0.9rem;
  }
}
.sc3-download .sc3-texts .download-images {
  display: flex;
}
@media (max-width: 1100px) {
  .sc3-download .sc3-texts .download-images {
    text-align: center;
  }
}
.sc3-download .sc3-texts .download-images a {
  margin-right: 21px;
}
@media (max-width: 1100px) {
  .sc3-download .sc3-texts .download-images a {
    margin-right: 10px;
  }
}
.sc3-download .sc3-texts .download-images .appstore-link {
  width: 180px;
  height: 60px;
  background-image: url("../assets/appstore.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1100px) {
  .sc3-download .sc3-texts .download-images .appstore-link {
    width: 150px;
    height: 50px;
  }
}
.sc3-download .sc3-texts .download-images .playstore-link {
  width: 180px;
  height: 60px;
  background-image: url("../assets/playstore.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1100px) {
  .sc3-download .sc3-texts .download-images .playstore-link {
    width: 150px;
    height: 50px;
  }
}
.sc3-download .sc3-image {
  position: absolute;
  right: 13%;
  width: 450px;
  height: 450px;
  background-image: url("../assets/hero2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1250px) {
  .sc3-download .sc3-image {
    right: 5%;
  }
}
@media (max-width: 1100px) {
  .sc3-download .sc3-image {
    display: none;
  }
}

.sc4-plans {
  display: flex;
  justify-content: center;
}
.sc4-plans h1 {
  margin: 50px 0 16px 0;
  font-size: 2.3rem;
}
.sc4-plans p {
  text-align: center;
}
.sc4-plans .container {
  flex-direction: column;
  align-items: center;
}
.sc4-plans .container .sc4-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 96px;
  margin-bottom: 130px;
}
@media (max-width: 1100px) {
  .sc4-plans .container .sc4-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
.sc4-plans .container .sc4-cards .sc4-elem {
  width: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--second-light-color);
  padding: 20px 35px;
}
@media (max-width: 1500px) {
  .sc4-plans .container .sc4-cards .sc4-elem {
    width: 31%;
  }
}
@media (max-width: 1100px) {
  .sc4-plans .container .sc4-cards .sc4-elem {
    width: 80%;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .sc4-plans .container .sc4-cards .sc4-elem {
    width: 95%;
  }
}
.sc4-plans .container .sc4-cards .sc4-elem h2 {
  margin: 32px;
  margin-bottom: 55px;
}
.sc4-plans .container .sc4-cards .sc4-elem .price {
  display: flex;
  margin-bottom: 47px;
}
.sc4-plans .container .sc4-cards .sc4-elem .price .small-price {
  position: relative;
  top: 0.3rem;
  font-size: 0.9rem;
}
.sc4-plans .container .sc4-cards .sc4-elem .price .smp2 {
  font-size: 1.2rem;
  position: relative;
  top: 1rem;
}
.sc4-plans .container .sc4-cards .sc4-elem .price p {
  font-size: 2.5rem;
  color: var(--second-color);
  font-weight: bold;
}
.sc4-plans .container .sc4-cards .sc4-elem .details-card-p {
  margin-bottom: 59px;
}
.sc4-plans .container .sc4-cards .sc4-elem .card-btn {
  padding: 8px 80px;
  font-weight: 400;
  font-size: 1.1rem;
}
@media (max-width: 1100px) {
  .sc4-plans .container .sc4-cards .sc4-elem .card-btn {
    margin-top: 0;
    margin-bottom: 32px;
  }
}
.sc4-plans .container .sc4-cards .prata-elem {
  background-color: #293145;
  position: relative;
}
.sc4-plans .container .sc4-cards .prata-elem .prata-btn {
  padding: 5px 32px;
  position: absolute;
  top: 65px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 0.7rem;
  transition: 0.3s;
}
.sc4-plans .container .sc4-cards .prata-elem h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 45px;
  position: relative;
  top: -32px;
}
.sc4-plans .container .sc4-cards .prata-elem .price p {
  color: white;
}
.sc4-plans .container .sc4-cards .prata-elem p {
  color: white;
}

.sc5-contact {
  display: flex;
  justify-content: center;
  background-image: url("../assets/background-contact.png");
  background-size: cover;
  background-position: center;
}
.sc5-contact .container {
  flex-direction: column;
  align-items: center;
}
.sc5-contact .container h1 {
  color: white;
  font-size: 2.3rem;
  margin: 50px 0 16px 0;
}
.sc5-contact .container p {
  color: white;
  text-align: center;
  margin-bottom: 93px;
  width: 80%;
}
@media (max-width: 1100px) {
  .sc5-contact .container p {
    width: 100%;
    margin-bottom: 50px;
  }
}
.sc5-contact .container form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 86px;
}
.sc5-contact .container form .input-single {
  position: relative;
  width: 250px;
  margin-right: 40px;
}
.sc5-contact .container form .input-single input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: 0;
  width: 100%;
  padding: 5px;
  transition: 0.5s ease-in-out;
  color: white;
}
.sc5-contact .container form .input-single input:focus, .sc5-contact .container form .input-single input:valid {
  border-bottom: 1px solid var(--primary-color);
}
.sc5-contact .container form .input-single input:focus ~ label, .sc5-contact .container form .input-single input:valid ~ label {
  bottom: 30px;
  font-size: 0.7rem;
}
.sc5-contact .container form .input-single label {
  color: white;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  bottom: 10px;
  cursor: text;
  transition: 0.5s ease-in-out;
}
.sc5-contact .container form .form-btn {
  padding: 8px 32px;
  font-weight: 400;
  font-size: 0.8rem;
}

footer {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--light-color);
}
footer p {
  color: var(--second-color);
}
@media (max-width: 1100px) {
  footer p {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
