:root
  --primary-color: #0F9AFE
  --light-color: #FFFFFF
  --second-light-color: #EFF8FF
  --gray-color: #6E7275
  --second-color: #293145


.dark-mode:root
  --light-color: #293145
  --second-light-color: #293145
  --second-color: #FFFFFF
  --gray-color: #FFFFFF
  .img-header
    background-image: url(../assets/logo-dark.png)

  .sc1-image
    background-image: url(../assets/hero-dark.png)
  