@import 'utilities'
@import 'variables'

//Gerais

@include reset

.container
  display: flex
  align-items: center
  justify-content: space-between
  width: 75%

  @include responsive-xl
    width: 85%

body
  background-color: var(--light-color)



// Header
header
  height: 70px
  display: flex
  justify-content: center

  .ld
    display: flex
    align-items: center

    input
      display: none

      &:checked ~ label
        .fa-sun
          opacity: 0
          transform: translateX(0)
        
        .fa-moon
          opacity: 1
          transform: translateX(-1.5rem)
    
    label
      position: absolute
      right: 3%
      border: 2px solid gray
      border-radius: 30px
      padding: 10px 20px
      cursor: pointer

      @include responsive-m
        right: 15%
        margin-right: 15px

      .fa-sun
        color: orange
        font-size: 1rem
        text-shadow: 0 0 20px orange
        transform: translateX(1.5rem)
        transition: .3s

      .fa-moon
        color: white
        font-size: 1em
        text-shadow: 0 0 20px white
        transform: translateX(0rem)
        transition: .3s
        opacity: 0

  .img-header
    width: 100px
    height: 30px
    background-image: url(../assets/logo.png)

  .mobilenav-icon
    font-size: 1.7rem
    color: var(--second-color)
    cursor: pointer
    display: none

    @include responsive-m
      display: block


    

  nav
    @include responsive-m
      display: none
    ul
      list-style: none
      display: flex

      @include responsive-xl
        margin-right: 80px
      
      li
        margin: 0 33px


      a
        font-size: 1rem
        text-decoration: none
        color: var(--gray-color)
        transition: 0.5s
        font-family: 'Inter', sans-serif
        font-weight: 500

        &:hover
          color: var(--primary-color)


// Mobile Nav

.mobilenav
  position: absolute
  right: 0
  top: 0
  opacity: 0
  z-index: -1
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0, 0.45)
  backdrop-filter: blur(20px)
  -webkit-backdrop-filter: blur(20px) 

  padding: 20px 28px

  transition: 0.5s


  ul
    list-style: none
    margin-top: 100px
    margin-left: 0px
    width: 100%
    
    
  
    li
      margin: 60px 0
      
      a
        text-decoration: none
        color: white
        font-family: 'Saro', sans-serif
        font-size: 1.7rem
        font-weight: bold
      
      i
        font-size: 1.7rem
        color: white
        margin-right: 15px 

      .app-icon
        margin-left: 5px

  .close
    position: absolute
    top: 20px
    right: 35px
    color: white
    font-size: 2rem
    cursor: pointer



// Section 1

.sc1-hero
  display: flex
  justify-content: center
  background-color: var(--second-light-color)

  height: 75vh

  @include responsive-m
    height: 60vh

  .container
    @include responsive-m
      flex-direction: column
      justify-content: space-between


  .sc1-texts

    @include responsive-m
      width: 100%
      text-align: left
      margin-top: 50px

    h1
      font-size: 3rem
      @extend %title-format
      margin-bottom: 50px

      @include responsive-xl
        font-size: 2.5rem

      @include responsive-m
        margin-bottom: 40px
        font-size: 1.5rem

    a
      @extend %button-format
      padding: 16px 36px

      @include responsive-m
        padding: 10px 36px

  .sc1-image
    width: 500px
    height: 500px
    background-image: url('../assets/hero.png')
    background-position: center
    background-size: cover

    @include responsive-l
      width: 400px
      height: 400px

    @include responsive-m
      width: 290px
      height: 210px

//Section 2

.sc2-how
  display: flex
  justify-content: center

  .container
    flex-direction: column
    align-items: center

  h1
    margin-top: 56px
    @extend %title-format
    font-size: 2.3rem

    @include responsive-m
      font-size: 2rem

  .cards
    display: flex
    justify-content: space-between
    margin: 80px 0 4rem 0
    width: 95%

    @include responsive-m
      flex-direction: column 
      align-items: center

    .elem
      width: 33%
      display: flex
      flex-direction: column
      align-items: center
      margin: 0 20px

      @include responsive-m
        width: 100%
        margin-bottom: 32px
      
      img
        margin-bottom: 30px

      h2
        @extend %title-format
        font-size: 1.2rem
        margin-bottom: 16px
      
      p
        @extend %p-format
        text-align: center


//Section 3

.sc3-download
  background-color: var(--second-light-color)
  display: flex
  justify-content: center
  align-items: center

  padding: 7rem 0

  @include responsive-m
    padding: 4rem 0


  .container
    @include responsive-m
      justify-content: center
      text-align: center


  .sc3-texts
    @include responsive-m
      display: flex
      flex-direction: column
      align-items: center

    h1
      @extend %title-format
      font-size: 2rem
      margin-bottom: 24px

      @include responsive-l
        font-size: 1.7rem

    p
      @extend %p-format
      width: 50%
      margin-bottom: 32px

      @include responsive-m 
        width: 70%

      @include responsive-sm 
        width: 90%


      @include responsive-m
        font-size: 0.9rem

    .download-images
      display: flex

      @include responsive-m
        text-align: center
      
      a
        margin-right: 21px

        @include responsive-m
          margin-right: 10px

      .appstore-link
        width: 180px
        height: 60px
        background-image: url('../assets/appstore.png')
        background-position: center
        background-size: cover
        background-repeat: no-repeat

        @include responsive-m
          width: 150px
          height: 50px

      .playstore-link
        width: 180px
        height: 60px
        background-image: url('../assets/playstore.png')
        background-position: center
        background-size: cover
        background-repeat: no-repeat

        @include responsive-m
          width: 150px
          height: 50px

      

  .sc3-image
    position: absolute
    right: 13%
    width: 450px
    height: 450px
    background-image: url('../assets/hero2.png')
    background-position: center
    background-size: cover
    background-repeat: no-repeat

    @include responsive-l
      right: 5%

    @include responsive-m
      display: none


//Section 4

.sc4-plans
  display: flex
  justify-content: center

  h1
    margin: 50px 0 16px 0
    font-size: 2.3rem
    @extend %title-format
  
  p
    text-align: center
    @extend %p-format

  .container
    flex-direction: column
    align-items: center

    .sc4-cards
      display: flex
      justify-content: space-around
      margin-top: 96px
      margin-bottom: 130px

      @include responsive-m
        flex-direction: column
        align-items: center

        margin-top: 50px
        margin-bottom: 0px

      .sc4-elem
        width: 25%
        border-radius: 10px
        
        display: flex
        flex-direction: column
        align-items: center

        background-color: var(--second-light-color)
        padding: 20px 35px

        @include responsive-xl
          width: 31%
        
        @include responsive-m
          width: 80%
          margin-top: 0
          margin-bottom: 50px

        @include responsive-sm
          width: 95%

        h2
          @extend %title-format
          margin: 32px
          margin-bottom: 55px

        .price
          display: flex
          margin-bottom: 47px

          .small-price
            position: relative
            top: 0.3rem
            font-size: 0.9rem
          
          .smp2
            font-size: 1.2rem
            position: relative
            top: 1rem


          p
            font-size: 2.5rem
            color: var(--second-color)
            font-weight: bold

        .details-card-p
          margin-bottom: 59px
        
        .card-btn
          @extend %button-format
          padding: 8px 80px
          font-weight: 400
          font-size: 1.1rem

          @include responsive-m
            margin-top: 0
            margin-bottom: 32px

      

      .prata-elem
        background-color: #293145
        position: relative

        .prata-btn
          padding: 5px 32px
          @extend %button-format
          position: absolute
          top: 65px
          text-transform: uppercase
          letter-spacing: 4px
          font-weight: 400
          font-size: 0.7rem
          transition: .3s

        h2
          color: white
          font-size: 2rem
          margin-bottom: 45px
          position: relative
          top: -32px

        .price
          p
            color: white

        p
          color: white
      
// Section 5

.sc5-contact
  display: flex
  justify-content: center

  background-image: url('../assets/background-contact.png')

  background-size: cover
  background-position: center

  .container
    flex-direction: column
    align-items: center

    h1
      @extend %title-format
      color: white
      font-size: 2.3rem
      margin: 50px 0 16px 0

    p
      @extend %p-format
      color: white
      text-align: center
      margin-bottom: 93px
      width: 80%
      

      @include responsive-m
        width: 100%
        margin-bottom: 50px
    
    form
      display: flex
      justify-content: center
      width: 100%
      margin-bottom: 86px

      .input-single
        position: relative 
        width: 250px    
        margin-right: 40px

        input
          background: transparent
          border: none
          border-bottom: 1px solid white
          outline: 0 
          width: 100%
          padding: 5px
          transition: .5s ease-in-out
          color: white

          &:focus, &:valid
            border-bottom: 1px solid var(--primary-color)
          
          &:focus ~ label, &:valid ~ label
            bottom: 30px
            font-size: .7rem

        label
          color: white
          @extend %p-format
          font-size: 0.9rem
          position: absolute
          left: 0
          bottom: 10px
          cursor: text
          transition: .5s ease-in-out
      
      .form-btn
        @extend %button-format
        padding: 8px 32px
        font-weight: 400
        font-size: .8rem
      
footer
  text-align: center
  padding: 40px 20px
  background-color: var(--light-color)

  p
    @extend %p-format
    color: var(--second-color)

    @include responsive-m
      font-size: 1.2rem

  

